mixin HeadingProducts
    .heading-section.heading-products
        .heading-text
            h3 Our Products
        .heading-utility
            ul.filter.clear-list-style
                li
                    a(href='#') Featured
                li
                    a(href='#') Best Seller
                li
                    a(href='#') Sale
